    {{> head}}

    {{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>pajaros</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic natus incidunt, aliquam placeat voluptatem cumque assumenda soluta quae officia aspernatur veritatis quasi provident possimus quos rerum itaque amet atque exercitationem?</p>
    </div>

    <div class="col-4">
        <img src="assets\img\pajaros.jpg" class="img-thumbnail">
    </div>

</div>

    {{> footer}}